@model AspNetCoreCursovaya.Models.news
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <partial name="header" />


    <main>
        <p style="margin-top: 1%; margin-left: 7%;"><a style="color: black; text-decoration: none;" href="news.html">Главная</a> > <a style="color: black; text-decoration: none;" href="news.html">Новости</a> > Добавить новость</p>
        <div class="input_f_addNews" style="width: 60%; margin-left: 10%; margin-top: 3%;">
            <form action="addNewsPage" method="post">
                <div class="mb-3">
                    <input style="border: 2px solid #522473;" asp-for="zagolovok" name="zagolovok" type="text" placeholder="Заголовок новости" class="form-control rounded-2 input_string w-100" id="zagolovok">
                </div>

                <div class="form-floating" style="margin-bottom: 1%; margin-top: 5%;">
                    <textarea class="form-control rounded-2 input_string w-100" asp-for="textNews" name="textNews" placeholder="Leave a comment here" id="textNews" style="height: 100px; border: 2px solid #522473; height: 300px;"></textarea>
                    <label for="floatingTextarea2">Текст новости</label>
                </div>
                <input type="file" asp-for="imagelink" id="imagelink" name="imagelink" class="form-control" />
                <a style="color: black;" href="">Прикрепить фотографии</a>
                <a asp-action="addNewsPage"><button type="submit" formmethod="post" class="btn btn-secondary btn-sm w-50 rounded-3" style="background: #4BBFAA; color: #522473; border: 0px; float: right; font-size: 15px; margin-top: 5%;">Опубликовать новость</button></a>
                <br><br><br>
            </form>
        </div>
    </main>

    <partial name="footer" />

</body>
</html>