<footer class="mt-auto position-sticky top-100">
    <div class="list_items">
        <p>
            <a href="news.html">Новости</a>
        </p>
        <p>
            <a href="advertisement.html">Объявления</a>
        </p>
        <p>
            <a href="ourActivities.html">Наша деятельность</a>
        </p>
        <p>
            <a href="calendar_events.html">Календарь событий</a>
        </p>
        <p>
            <a href="aboutUs.html">О нас</a>
        </p>
        <p>
            <a href="partners.html">Партнеры</a>
        </p>
        <p>
            <a href="reports.html">Отчеты</a>
        </p>
    </div>

    <div class="contact_info">
        <h4>Наши контакты</h4>
        <div class="location">
            <img src="/image/pin-mark.png" alt="Местоположение">
            <p>г. Иркутск, ул. 5 Армии, д. 71, кв. 56</p>
        </div>

        <div class="numbers">
            <img src="/image/phone-call.png" alt="Номера телефона">
            <div class="numbers_1">
                <p>8-904-12-13-710 (Щеглачёва Лилия Викторовна)</p>
                <p>8-914-939-10-89 (Бурденко Елена Анисимовна)</p>
            </div>
        </div>

        <div class="email">
            <img src="/image/mail 1.png" alt="Почта">
            <p>otk_mir@bk.ru</p>
        </div>

        <div class="logos">
            <!-- Логотипы социальных сетей -->
            <a href="https://vk.com"><img src="/image/vk-reproductor.png" alt="ВК"></a>
            <a href="https://web.telegram.org"><img src="/image/telegram.png" alt="ТГ"></a>
            <a href="https://www.youtube.com"><img src="/image/youtube 1.png" alt="Ютуб"></a>

            <a href="@Url.Action("writeUs")">
                <button type="button" class="btn btn-secondary btn-sm w-25">Написать нам</button>
            </a>
        </div>
    </div>
</footer>