

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/js/bokanach.js"></script>
    <link rel="icon" type="image/x-icon" href="image/LOGO.png">
    <title>О нас</title>
</head>
<body>

    
    <!-- Туть крч шапка страницы -->
    <partial name="header" />

    <!-- Туть крч основной контент -->
    <main>
        
        <p><a href="@Url.Action("index")">Главная</a> > О нас</p>
        <div class="container_from_aboutUs">
            <div class="director_word">
                <div class="director_FIO">
                    <div>
                        <img src="/image/Руководитель.jpg" alt="director">
                        <p>
                            Директор АНО «Открытый мир» <br>
                            <b>Щеглачёва Лилия Викторовна </b>
                        </p>
                    </div>
                    <div class="first_words">
                        <h4><b>Слово директора</b></h4>
                        <p>
                            «Как корректно говорить об особенностях людей? Распространенным и допустимым термином в
                            рамках социальной модели инвалидности является
                            термин «человек с инвалидностью». В официальных
                            документах и нормативных актах принят термин
                            «инвалид», но его крайне не рекомендуется
                            использовать в речи или в публичных выступлениях.
                            В устной или публичной речи лучше говорить
                            «человек с инвалидностью». Кроме того, часто
                            сотрудники учреждений социального обслуживания
                            используют термин «человек с ограниченными
                            возможностями здоровья». Это не самый удачный
                            термин, поскольку он характеризует медицинскую
                            модель инвалидности, когда человек ограничен
                            своим «дефектом» или болезнью. Если говорить об
                            общем термине, то более всего подойдет термин
                            «люди с инвалидностью». К людям, которые не
                            имеют инвалидности, оптимальнее применять
                            термин «люди без инвалидности» вместо «здоровый»
                            или «нормальный».
                            <br><br>
                            Так как люди с инвалидностью очень разные, то наряду с общими существуют и
                            специальные термины, которые находят широкое применение в практике учреждений
                            системы социальной защиты. По мнению Международного альянса по вопросам инвалидности
                            в глобальном русскоязычном опросе корректно говорить:<br>
                            - незрячий или частично зрячий человек;<br>
                            - человек с физической инвалидностью;<br>
                            - человек с хроническим заболеванием;<br>
                            - человек с тяжелыми множественными нарушениями;<br>
                            - глухой или слабослышащий человек;<br>
                            <span id="dots"><a style="color: #522473;margin-left: 0%; text-decoration: underline;" onclick="readMore()" href="#dots">Ещё...</a></span>
                            <span id="more">
                                - слепоглухой человек;<br>
                                - человек с нарушениями интеллекта;<br>
                                - человек с аутизмом (расстройством аутистического спектра);<br>
                                - человек с психосоциальной инвалидностью;<br>
                                - человек маленького роста / из числа маленьких людей;<br>
                                - человек с альбинизмом;<br>
                                - человек c когнитивными нарушениями (ухудшение умственных способностей, нарушение памяти и т.д.);<br><br>
                                Обычно сотрудники учреждений системы социальной защиты сводят все
                                типологии к четырем группам:<br>
                                1) незрячие или слабовидящие люди;<br>
                                2) глухие и слабослышащие люди; <br>
                                3) люди с нарушениями опорно-
                                двигательного аппарата;<br>
                                4) люди с ментальными нарушениями.<br><br>
                                Рассмотренные выше понятия в отношении людей с инвалидностью
                                отражают социальную модель инвалидности, закрепленную Конвенцией,
                                российскими законодательными документами и теми локальными
                                нормативными актами, которые разрабатывает каждое учреждение
                                социального обслуживания населения.»
                            </span>

                        </p>
                    </div>
                </div>
            </div>

            <div class="illusion_section">
                <h4><b>Инклюзия. Основные направления деятельности АНО «Открытый мир»</b></h4>
                <p>
                    АНО «Открытый мир» базируются на идее <em><b style="color: #522473;">инклюзии</b></em>.<br>
                    Миллионы граждан России с ограниченными возможностями здоровья испытывают
                    значительные трудности с полноценным включением в социально-экономическую жизнь
                    общества.<br><br>

                    <em><b style="color: #522473;">Инклюзия</b></em> – процесс реального включения людей с инвалидностью в активную
                    общественную жизнь.<br> Инклюзия предполагает разработку и применение конкретных
                    решений, которые позволят каждому человеку равноправно участвовать в общественной
                    жизни.<br>
                    <span id="dots2"><a style="color: #522473;margin-left: 0%; text-decoration: underline;" onclick="readMore2()" href="#dots2">Ещё...</a></span>
                    <span id="more2">
                        <br>В основе инклюзии лежит идея включающего общества. Содержание
                        этой идеи заключается в том, что любой человек (другой расы,
                        вероисповедания, культуры, особенностей здоровья, личностной
                        сферы и др.) может быть включен в общественные отношения
                        (образование, труд, культуру, спорт и т.д.).<br><br>
                        Идеи инклюзии переосмысливают концепцию инвалидности,
                        признавая равную ценность всех людей, независимо
                        от их способностей и возможностей. Различия между людьми не могут
                        быть основанием для ограничения их прав. Инклюзия обеспечивает
                        принцип равного доступа к социальным услугам. Это механизм
                        преодоления неравенства, обретения свободы и нового качества жизни
                        для человека с инвалидностью. Не случайно ученые определяют
                        инклюзию как «универсально действующий правовой принцип, цель
                        которого – на основе равных прав дать всем людям возможность вести
                        самостоятельную жизнь и принимать участие во всех аспектах
                        общественной жизни».<br><br>
                        Инклюзивные процессы можно с уверенностью считать одним из
                        приоритетов государственной социальной политики: ведь от того,
                        насколько люди с инвалидностью и люди без инвалидности включены
                        в практики взаимопомощи, защиты человеческого достоинства,
                        преодоления стереотипов и предрассудков, зависит степень
                        социальной сплоченности и гражданственности в обществе. Таким
                        образом, инклюзию можно рассматривать с разных позиций: как
                        феномен; механизм преодоления неравенства; двусторонний процесс,
                        в котором меняется каждый из его участников; принцип социальной
                        политики.<br><br>
                        В организации жизнеустройства людей с инвалидностью инклюзия
                        выступает как основополагающий принцип социальной политики,
                        позволяющий деинституционализировать закрытые стационарные
                        учреждения и создавать новые модели жизнеустройства людей
                        с инвалидностью на основе интеграции процессов трудовой
                        (социальной) занятости, социокультурной адаптации
                        и сопровождаемого проживания.
                    </span>
                </p>
            </div>

            <div class="mission_section">
                <h4><b>Миссия и задача организации</b></h4>
                <p>
                    <em><b style="color: #522473;">Миссия</b></em> АНО «Открытый мир» - помочь людям с ментальными нарушениями стать
                    полноценными членами общества и вести самостоятельный образ жизни в
                    условиях, приближенных к домашним; сделать так, чтобы жизнь людей с
                    особенностями развития была комфортной, полной ярких впечатлений.
                    <br><br>
                    <em><b style="color: #522473;">Задача</b></em> АНО «Открытый мир» - чтобы взрослые дети с ментальными нарушениями
                    из семей не попадали в интернаты. Для этого надо создать целую инфраструктуру,
                    где особенные люди смогут иметь свой дом, трудовую занятость и досуг,
                    организовать для них сопровождаемое проживание и сопровождаемую дневную
                    занятость.<br>
                    <span id="dots3"><a style="color: #522473;margin-left: 0%; text-decoration: underline;" onclick="readMore3()" href="#dots3">Ещё...</a></span>
                    <span id="more3">
                        <br>
                        Основными направлениями деятельности АНО «Открытый мир»
                        является работа с людьми с ментальными нарушениями:<br>
                        1. Организация сопровождаемой дневной занятости для людей с
                        ментальными нарушениями старше 18 лет.<br>
                        2. Организация сопровождаемого группового (совместного)
                        проживания людей с ментальными нарушениями старше 18 лет.<br><br>
                        На сегодняшний день АНО «Открытый мир» не имеет помещения для
                        дневной занятости. Поэтому дневная занятость организовывается на
                        различных площадках совместно с ИРООИ «Лотос». Например,
                        адаптивный волейбол – на базе спортзала школы-интерната №12,
                        занятия по рисованию - на базе Иркутского художественного музея.
                        Разрабатываются различные Программы дневной занятости и
                        творческого развития.<br>
                        Также у АНО «Открытый мир» пока нет помещения для группового
                        (совместного) сопровождаемого проживания взрослых людей с
                        ментальной инвалидностью. И это серьёзная проблема, которую
                        должна решить некоммерческая организация.<br>
                        Поэтому АНО «Открытый мир» разработала благотворительный
                        инновационный социальный проект для организации самостоятельной
                        жизни в отдельном жилом помещении ребят с ментальной
                        инвалидностью 1 и 2 группы, для организации социальной дневной
                        занятости.
                    </span>
                </p>
            </div>

            <div class="history_organization">
                <h4><b>История организации</b></h4>
                <p>
                    Актуальность проблем, возникающих в ходе жизнеустройства людей с ментальной
                    инвалидностью, находится на очень высоком уровне. Люди с ментальной
                    инвалидностью всегда будут нуждаться в помощи окружающих для организации
                    своей жизнедеятельности. В помощи нуждается и семья, в которой проживает
                    инвалид.<br>
                    <span id="dots4"><a style="color: #522473;margin-left: 0%; text-decoration: underline;" onclick="readMore4()" href="#dots4">Ещё...</a></span>
                    <span id="more4">
                        <br>
                        В семьях иркутян, имеющих взрослых детей с интеллектуальными
                        нарушениями, сложилась ситуация, когда родители инвалидов не
                        могут продолжать сопровождение своих взрослых детей в условиях
                        семьи. Родители достигли пенсионного возраста, им от 56 до 76 лет.
                        Возникла проблема дальнейшего жизнеустройства взрослых детей с
                        ментальными нарушениями. На сегодняшнем этапе развития отрасли
                        социального обслуживания государство определило для взрослых
                        детей с ментальными нарушениями из семей только одну форму
                        жизнеустройства - ПНИ.<br><br>
                        Но родители ребят с инвалидностью имеют многолетний стаж работы
                        в различных инвалидных общественных организациях, и у них
                        родилась идея организации группового (совместного)
                        сопровождаемого проживания ребят с ментальными нарушениями.
                        Это оказалось трудноразрешимой проблемой, в т.ч. из-за отсутствия
                        помещений, соответствующих технологии сопровождаемого
                        проживания инвалидов в малых группах.  Для преодоления проблем
                        было решено создать некоммерческую социально-ориентированную
                        организацию, объединить ребят с похожими проблемами и
                        организовать для них сопровождаемое проживание. <br><br>
                        В мае 2022 года была зарегистрирована автономная некоммерческая
                        организация социальной помощи инвалидам «Открытый мир» (АНО
                        «Открытый мир»).
                        Далее, АНО «Открытый мир» разработала благотворительный
                        инновационный социальный проект для организации самостоятельной
                        жизни в отдельном жилом помещении ребят с ментальной
                        инвалидностью 1 и 2 группы и для организации их дневной занятости.<br>
                        В настоящее время идёт работа по реализации проекта. Идет
                        разработка сайта, поиск благотворителей, социальных партнёров,
                        волонтёров, помещений для организации сопровождаемого
                        проживания и сопровождаемой дневной занятости целевой группы,
                        впереди много работы.
                    </span>
                </p>
            </div>

            @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

            @{
                var context = HttpContextAccessor.HttpContext;
                var cookieValue = context.Request.Cookies["name"];
            }

            <div class="documents">
                <h4><b>Документы</b></h4>

                @foreach (var doc in Model)
                {
                    <div class="document">
                        <img src="/image/document 1.png" alt="Документ">
                        <a href="@Url.Action("Download", "home", new { filename = doc.IdDocumentNavigation.Link})"><u>@doc.IdDocumentNavigation.Link.Substring(doc.IdDocumentNavigation.Link.LastIndexOf('\\') + 1, doc.IdDocumentNavigation.Link.LastIndexOf('.') - doc.IdDocumentNavigation.Link.LastIndexOf('\\') - 1)</u></a>
                        @if (cookieValue == "admin")
                        {
                            <a href="@Url.Action("delleteDocument", "admin", new { idDocument = doc.IdDocument })"><img src="/image/корзина 7.png"></img></a>
                        }
                    </div>
                }
                
            </div>

            <div class="mission_section">
                <h4><b>Информация о поставщике социальных услуг</b></h4>
                <p>
                    АНО «Открытый мир» пока не стало поставщиком социальных услуг. Мы стремимся к
                    этому.<br>
                    АНО «Открытый мир» пока не включён в реестр поставщиков социальных услуг.
                </p>
            </div>

            <img src="~/documents/photo_5224289913120345450_y.jpg"></img>

    </main>

    <!-- Туть крч подвал страницы -->
    <partial name="footer" />
</body>
</html>