<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <partial name="header" />

    <main>
        <p style="margin-top: 1%; margin-left: 7%;"><a style="color: black; text-decoration: none;" href="@Url.Action("index")">Главная</a> > Новости</p>
        <h4 style="color: #522473; margin-left: 10%; margin-top: 3%;">Проживание</h4>
        <div style="display: flex; margin-left: 10%; margin-top: 3%;">
            <p style="font-size: 20px;">
                Сопровождаемое проживание инвалидов рассматривается как жиз-неустройство инвалидов старше 18 лет, <br>
                не способных вести самостоя-тельный образ жизни или способных его вести с помощью других лиц, <br>
                и является элементом постоянного процесса реабилитации и аби-литации инвалидов.<br>
                Определена целевая группа инвалидов, нуждаю-щихся в таком сопровождении – это инвалиды, <br>
                нуждающиеся в по-стоянной или частичной посторонней помощи,<br>
                являющиеся получате-лями социальных услуг. <br>
                Сопровождаемое проживание людей с  инвалидностью предусматри-вает возможность <br>
                предоставления социальных услуг, услуг по  реаби-литации и  абилитации,<br>
                образовательных услуг и  проведения меро-приятий по  социальному сопровождению (содействие в <br>
                предоставле-нии медицинской, психологической, педагогической, юридической, социальной помощи, <br>
                не  относящейся к  социальным услугам) в целях компенсации (устранения) <br>
                обстоятельств, которые ухудшают или мо-гут ухудшить условия жизнедеятельности и сохранения <br>
                пребывания в привычной, благоприятной для человека среде, выработки навыков,<br>
                обеспечивающих максимально возможную самостоятельность в реа-лизации основных <br>
                жизненных потребностей (организация быта, досу-га, общения и социальных связей), <br>
                и адаптации к самостоятельной жизни. <br>
                <br>
                –	Цель проекта <br>
                «Нормализация жизни людей с инвалидностью, организация их само-стоятельной жизни <br>
                при групповом сопровождаемом проживании и их дневной занятостью; <br>
                практически, создание нового, лучшего образа жизни для них самих и для их семей.» <br>
                –	Задачи проекта <br>
                «Создание силами благотворителей и АНО «Открытый мир» помеще-ния для <br>
                сопровождаемого проживания взрослых инвалидов с мен-тальными <br>
                нарушениями и помещения для их дневной занятости. <br>
                По-мещениями будут пользоваться не одно поколение инвалидов.» <br>
                –	Целевая группа <br>
                «Люди с ментальной инвалидностью 1 и 2 группы старше 18 лет, имеющие 2 и 3 степень ограничения жизнедеятельности.»

            </p>
            @*<img style="height: 400px; margin-left: 10%;" src="/image/newsCardImage1.jpg" alt="">*@
        </div>
    </main>

    <partial name="footer" />
</body>
</html>